{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
 .button-d{
  background-color:  rgb(54, 54, 184);
  color: white;
  border-radius: 20px;
  border-color: rgb(54, 54, 184) ;
  height: 50px;
  width: 220px;
  
 }
 .button-d1{
  background-color:  rgb(54, 54, 184) ;
  color: white;
  border-radius: 20px;
  border-color: rgb(54, 54, 184) ;
  height: 50px;
  width: 220px;
  
 }
 .btn-d{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
 }
 
 .btn-d1{
  display: flex;
  align-items: center;
  justify-content: center;

 }
 h4{
  color: #5777ba;
  
 }
 h6{
  color: #5777ba;
 }
 
</style>

<section id="features" class="features" >
    <div class="container">

      <div class="section-title" style="margin-top: 50px;">
        <h4 style="color: rgb(140, 140, 226);">Download Pepoz Here!.</h4>
      </div>

      <div class="row no-gutters">
        <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
          <div class="content d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-md-6 icon-box" data-aos="fade-up">
                
                <h4>Messaging</h4>
                <p>- Enjoy simple and intuitive group messaging to stay connected with your network.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                
                <h4>Posts and Updates:</h4>
                <p>Share your moments and stay informed with real-time updates from your connections.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                
                <h4>Connections</h4>
                <p>Expand your professional network and connect with like-minded individuals.</p>
              </div>
              <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
               
                <h4>Jobs</h4>
                <p>Discover job opportunities and grow your career.</p>
              </div>
              
            </div>
            <div>
              <div class="btn-d1"><button class="button-d1">Download Pepoz app here</button></div>
            </div>
          </div>
        </div>
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <div>
            <div>
              <h3 style="color: #5777ba;">Currently available for direct download!<br> Click the link below to start your Pepoz journey:</h3>
            </div>
            <div class="btn-d"><button class="button-d">[Download for all platforms]</button></div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End App Features Section -->
  <section>
    <div class="head-6"><h6>Join Pepoz today and be a part of a vibrant community that supports your personal and professional growth. <br>Let’s make social interaction more engaging and meaningful!</h6></div>
  </section>
   <!-- ======= Gallery Section ======= -->
     
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>App Features</h2>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up">
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/IMG-20240706-WA0015.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/IMG-20240706-WA0017.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/IMG-20240706-WA0019.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/IMG-20240706-WA0018.jpg' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/IMG-20240706-WA0016.jpg' %}" class="img-fluid" alt=""></a></div>
          
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section> 
    <!-- End Gallery Section -->

{% endblock %}