{% extends 'base.html' %}
{% load static %}

{% block content %}

 

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1>From Purpose To Profession</h1>
            <h2>Imagine an app that bridges the gap between passion and career. Empowering you to make and find your Purpose in life</h2>
            <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a>
            <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static 'assets/img/Pepoz-17.jpg' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Pepoz Features</h2>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Message</h4>
                  <p>Pepoz strong messaging features enables you to communicate faster with your connections making things easy for everyone!</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Communities</h4>
                  <p>Collaborate by forming communities. Pepoz communities intends to bring like minds together to find meaning for their lives</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-images"></i>
                  <h4>Learning</h4>
                  <p>Our platform provides marked learning opportunities for students and professionals. Helping them to better in their places of commitment</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-shield"></i>
                  <h4>Job</h4>
                  <p>Every employer or employee has a chance in Pepoz. Our platform links provides link for employers and to connect meaningfully.</p>
                </div>
                
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img style="height: 450px; width: 350px;" src="{% static 'assets/img/PEPOZ Illustrations-03.png' %}" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section><!-- End App Features Section -->

    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/PEPOZ Illustrations-01.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>Pepoz is a revolutionary social media coming very timely.</h3>
            <p class="fst-italic">
              There is no better time to connect, collaborate and build a better future than now!
            </p>
            <ul>
              <li><i class="bi bi-check"></i> Our life is centered around Meaning and Purpose</li>
              <li><i class="bi bi-check"></i> Meaningful connections is key to successful life.</li>
              <li><i class="bi bi-check"></i> Because we cannot exist in isolation, we tend to build communities.</li>
              <li><i class="bi bi-check"></i>All of these dreams are come true in Pepoz Mobile app. </li>
            </ul>
            <p>
              Download the app on <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a> or <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> and begin your journey of Purpose and meaning
            </p>
            
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
            <img src="{% static 'assets/img/PEPOZ Illustrations-02.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
            <h3>Pepoz culture as a social media is uniquely inspired. </h3>
            <h6 class="fst-italic">
              The culture of serenity and focus helps to bring out the best in our users.
            </h6>
            <h5>
              Everyday healthy contents are synthesized by willing creators to add meaning to your life and help you find
            </h5>
            
          
          
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img style="height: 450px; width: 350px;" src="{% static 'assets/img/pepoz-19.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-5" data-aos="fade-up">
            <h3>You stand of the benefit of </h3>
            <p></p>
            <ul>
              <li><i class="bi bi-check"></i> Healthy collaboration</li>
              <li><i class="bi bi-check"></i> Job seeking</li>
              <li><i class="bi bi-check"></i> Texting</li>
              <li><i class="bi bi-check"></i> Posting</li>
            </ul>
            <p>
              A lots more awaits your Pepoz experience.
            </p>
            <p>
              Download the app on <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a> or <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> <br> Start your journey now
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Details Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Start your Pepoz journey in four steps</h2>
          <br>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Download the App</a></h4>
              <p>You can Download the app on <a href="#" class="download-btn"><i class="bx bxl-play-store"></i> Google Play</a> or <a href="#" class="download-btn"><i class="bx bxl-apple"></i> App Store</a> </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Create an account</a></h4>
              <p>Create an acount with your valid details, get varified, sign and start enjoying our platform </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Make Connections</a></h4>
              <p>Feel free to connect with like minded individual from diverse fields of interest</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Explore Oppurtunities</a></h4>
              <p>Explore the limitless oppurtunities of our platfom</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>App Features</h2>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up">
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="assets/img/gallery/gallery-1.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/gallery/gallery-1.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/gallery/gallery-2.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/gallery/gallery-2.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/gallery/gallery-3.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/gallery/gallery-3.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/gallery/gallery-4.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/gallery/gallery-4.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/gallery/gallery-5.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/gallery/gallery-5.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/gallery/gallery-6.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/gallery/gallery-6.png' %}" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a href="assets/img/gallery/gallery-7.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="{% static 'assets/img/gallery/gallery-7.png' %}" class="img-fluid" alt=""></a></div>
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2>Frequently Asked Questions</h2>
        
        </div>

        <div class="accordion-list">
          <ul>
            {% for question in questions %}

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">{{ question.question}} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  {{question.answer}}
                </p>
              </div>
            </li>
            {% endfor %}
            


            

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

   

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}

</html>